
.header {
    //background-color: rgb(100, 114, 237);
    background-color: rgb(137, 146, 223);
    width: 100%;

    .header_container {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_logo {
            max-width: 500px;
            margin-top: 1.5px;
            border: 1.5px;
            border-style: double;
            border-color: black;        
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            gap: 50px;
            list-style-type:none;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 0em;
            .navbar_link {
                color: rgb(145, 13, 13);
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                border: 1.5px;
            }
        }
    }
    .login-state {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: white;
    }
}